.body {
  background-color: #d2efff;
}

.pageText {
  color: #38a8d9;
  padding-bottom: 20px;
  font-size: 24px;
}

.pageTitle {
  color: #38a8d9;
  font-size: 42px;
  text-align: center;
}

.acctBtns {
  color: white;
  border-radius: 12px;
  height: 70px;
  width: 150px;
  font-size: 18px;
  background-color: #38a8d9;
  border-color: #38a8d9;
}

.accountBox {
  padding-top: 45px;
  background-color: #bee6fa;
  width: 500px;
  height: 550px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-color: #38a8d9;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
}

.container {
  height: 800px;
}
