.pageText {
  color: #38a8d9;
}

.acctBtns {
  color: white;
  border-radius: 12px;
  height: 70px;
  width: 150px;
  font-size: 18px;
  background-color: #38a8d9;
  border-color: #38a8d9;
}

.accountBox {
  background-color: black;
}
