
#login-background {
    background-image: linear-gradient(#0691CC, #D2EFFF);
    height: 100%;
    width: 100%;
    display: flex;
}

.half-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#login-logo {
    width: 40%;
}

#login-title {
    color: white;
    font-size: 4em;
    padding: 0px 0px 0px 0px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.02em;
}

#login-container {
    background-color: #BEE6FA;
    min-width: 500px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 4px 4px #009df9;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#login-container > h3 {
    color: #00618A;
    font-size: 1.5em;
    margin-top: 15px;
}

#login-container > form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#login-container > form > input {
    border: none;
    border-radius: 5px;
    width: 300px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 15px;
}

#login-container > form > input:focus {
    outline: none;
}